.about {
  padding: 20px 0 60px;

  @include vp-499 {
    padding: 0 0 40px;
  }

  &__inner {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 8px;

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  &__person {
    background-color: $color-bg-secondary;
    border-radius: 8px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include vp-1023 {
      padding: 20px;
    }
  }

  &__person-photo {
    margin: 0 0 40px;
    border-radius: 50%;

    @include vp-1023 {
      width: 150px;
      height: 150px;
    }

    @include vp-499 {
      width: unset;
      height: unset;
      margin: 0 0 15px;
    }
  }

  &__person-name {
    color: $color-text-main;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 0 0 15px;
    
    @include vp-1023 {
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-499 {
      margin: 0 0 5px;
    }
  }

  &__person-description {
    color: $color-text-addition;
    font-size: 16px;
    line-height: 20px;
    margin: 0;
  }

  &__content {
    background-color: $color-bg-secondary;
    border-radius: 8px;
    padding: 40px;
    position: relative;
    overflow: hidden;

    @include vp-1023 {
      padding: 20px 20px 40px 20px;
    }
  }

  &__text-wrapper {
    margin: 0 0 40px;

    @include vp-1023 {
      margin: 0 0 30px;
    }
  }

  &__text {
    color: $color-text-secondary;
    font-size: 20px;
    line-height: 24px;
    margin: 0 0 10px;

    @include vp-1023 {
      font-size: 18px;
      line-height: 22px;
    }

    @include vp-499 {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__info-blocks {
    display: grid;
    gap: 40px;

    @include vp-1023 {
      gap: 30px;
    }
  }

  &__sticker {
    position: absolute;
    bottom: 43px;
    right: -38px;
    background-color: $color-link;
    color: $color-white;
    padding: 5px 30px;
    transform: rotate(-45deg);
    user-select: none;
    font-size: 16px;

    @include vp-499 {
      font-size: 13px;
      bottom: 30px;
    }
  }
}