.btn {
  background-color: $color-link;
  color: $color-white;
  padding: 8px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  border-radius: 12px;
  font-family: $ff-noto;
  font-size: 20px;
  line-height: 20px;
  font-weight: 600;
  transition: opacity $transition-300, color $transition-300;
  outline: none;

  @include vp-1023 {
    font-size: 18px;
    line-height: 18px;
    padding: 5px 14px;
  }
  
  @include vp-499 {
    font-size: 16px;
    line-height: 16px;
  }

  &:hover,
  &:focus-visible {
    opacity: 85%;
  }

  &--secondary {
    border: 2px solid $color-link;
    background-color: unset;
    color: $color-text-main;

    &:hover,
    &:focus-visible {
      color: $color-link;
    }
  }

  &--store-link {
    padding: 0;

    @include vp-499 {
      svg {
        width: 110px;
        height: 33px;
      }
    }
  }
}