.footer {
  padding: 0 0 10px;

  &__wrapper {
    display: flex;
    justify-content: center;
  }

  &__copy {
    color: $color-text-secondary;
    font-size: 16px;
    user-select: none;

    @include vp-1023 {
      font-size: 14px;
    }

    @include vp-767 {
      font-size: 13px;
    }
  }
}