.projects {
  padding: 0 0 60px;

  @include vp-767 {
    padding: 0 0 40px;
  }

  &__heading {
    font-size: 42px;
    line-height: 46px;
    font-weight: 700;
    margin: 0 0 20px;

    @include vp-1023 {
      font-size: 36px;
      line-height: 40px;
    }

    @include vp-767 {
      font-size: 28px;
      line-height: 32px;
      margin: 0 0 15px;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    @include vp-767 {
      grid-template-columns: 1fr;
    }
  }

  &__list-item {
    &--last {
      &:nth-child(odd) {
        grid-column: 1 / -1;
      }
    }
  }
}