.project-card {
  background-color: $color-bg-secondary;
  border-radius: 8px;
  padding: 32px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;

  @include vp-1023 {
    padding: 20px;
  }

  @include vp-499 {
    gap: 15px;
  }

  &--last {
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__title {
    color: $color-text-main;
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    margin: 0;

    @include vp-1023 {
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-767 {
      text-align: center;
    }

    @include vp-499 {
      font-size: 18px;
      line-height: 22px;      
    }
  }

  &__date {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: $color-text-addition;
    user-select: none;    
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
  }

  &__stack {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: $color-text-secondary;
    user-select: none;    
    font-size: 12px;
    line-height: 12px;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__description {
    color: $color-text-secondary;
    font-size: 20px;
    line-height: 24px;
    margin: 0;

    @include vp-1023 {
      font-size: 16px;
      line-height: 20px;
    }

    @include vp-499 {
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__secondary-description {
    color: $color-text-addition;
    font-size: 14px;
    line-height: 18px;
    font-style: italic;
    margin: 0;

    @include vp-1023 {
      font-size: 13px;
    }

    @include vp-499 {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__tools-wrapper {
    margin: 0 0 20px;
  }

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    margin: 0 0 20px;

    @include vp-499 {
      margin: 0 0 10px;
    }
  }

  &__tools-title {
    display: block;
    color: $color-text-addition;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin: 0 0 10px;

    @include vp-1023 {
      font-size: 13px;
    }

    @include vp-499 {
      font-size: 12px;
      margin: 0 0 5px;
    }
  }

  &__tools-list {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @include vp-499 {
      gap: 5px;
    }
  }
}