.projects {
  padding: 0 0 60px;

  &__heading {
    font-size: 42px;
    line-height: 46px;
    font-weight: 700;
    margin: 0 0 20px;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  &__list-item {
    &--last {
      &:nth-child(odd) {
        grid-column: 1 / -1;
      }
    }
  }
}