.social {
  &--big {
    .social__link {  
      svg {
        width: 48px;
        height: 48px;

        @include vp-1023 {
          width: 40px;
          height: 40px;
        }
      }
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;

    @include vp-767 {
      gap: 10px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;

    svg {
      width: 32px;
      height: 32px;
    }

    &:hover,
    &:focus-visible {
      outline: none;
      opacity: 70%;
    }
  }
}