.spoiler {
  background-color: $color-bg-secondary;
  border-bottom: 3px solid $color-bg-main;

  &--first {
    border-radius: 20px 20px 0 0;

    .spoiler__summary {
      border-radius: 20px 20px 0 0;
    }
  }

  &--last {    
    border-radius: 0 0 20px 20px;
    border-bottom: unset;

    .spoiler__summary {
      border-radius: 0 0 20px 20px;
    }
  }

  &__summary {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 40px;
    cursor: pointer;
    user-select: none;
    padding: 30px 110px 30px 40px;
    transition: background-color 100ms linear;
    position: relative;
    outline: none;

    @include vp-1023 {
      padding: 20px 110px 20px 40px;
    }

    @include vp-499 {
      padding: 20px 70px 20px 20px;
      gap: 10px;
      flex-direction: column;
    }

    &::before {
      content: '';
      position: absolute;
      width: 30px;
      height: 30px;
      top: 50%;
      right: 40px;
      background-color: $color-bg-main;
      transform: translateY(-50%);
      border-radius: 50%;

      @include vp-499 {
        right: 20px;
      }
    }

    &:hover,
    &:focus-visible {
      background-color: $color-gainsboro;
      transition: background-color 300ms linear;

      .spoiler__summary-arrow {
        color: $color-white;
      }

      &::before {
        background-color: $color-black;
      }
    }
  }

  &__summary-year {
    color: $color-text-secondary;
    font-size: 24px;
    line-height: 28px;
    font-weight: 500;
    width: 15%;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;

    @include vp-1023 {
      flex-direction: column;
      width: 10%;
      font-size: 24px;
      line-height: 28px;
    }

    @include vp-499 {
      flex-direction: row;
      font-size: 16px;
      line-height: 16px;
      width: unset;
    }
  }

  &__summary-year-separator {
    @include vp-1023 {
      display: none;
    }

    @include vp-499 {
      display: block;
    }
  }

  &__summary-arrow {
    position: absolute;
    right: 46px;
    top: 50%;
    transform: translateY(-45%);
    color: $color-black;

    @include vp-499 {
      right: 26px;
    }
  }

  &__summary-text {
    color: $color-text-main;
    font-size: 24px;
    line-height: 30px;

    @include vp-1023 {
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-499 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 600;
      text-align: center;
    }
  }

  &__content {
    padding: 20px 110px 20px calc(15% + 60px);

    @include vp-1023 {
      padding: 10px 110px 10px calc(10% + 60px);
    }

    @include vp-767 {
      padding: 10px 20px;
    }
  }

  &__content-text {
    color: $color-text-main;
    font-size: 18px;
    line-height: 22px;
    margin: 0 0 20px;

    @include vp-1023 {
      font-size: 16px;
      line-height: 20px;
    }

    @include vp-499 {
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__content-list {    
    padding: 0 0 0 15px;
    margin: 0 0 20px;
    display: grid;
    gap: 5px;
    list-style-type: disc;

    @include vp-499 {
      padding: 0 0 0 5px;
    }
  }

  &__content-list-item {    
    color: $color-text-main;
    font-size: 18px;
    line-height: 22px;

    @include vp-1023 {
      font-size: 16px;
      line-height: 20px;
    }

    @include vp-499 {
      font-size: 13px;
      line-height: 16px;
    }
  }

  &__content-title {
    display: block;
    color: $color-text-addition;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    margin: 0 0 10px;

    @include vp-1023 {
      font-size: 13px;
    }
    
    @include vp-499 {
      margin: 0 0 5px;
    }
  }

  &__content-tag-list {
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;

    @include vp-499 {
      gap: 5px;
    }
  }

  
}